# Virtual environment and workspace and IBloFunMatch copy
ws
venv
IBloFunMatch
# Images and videos
*.png
*.mp4
# IBloFunMatch output folder 
build/*
# Jupyter notebook files 
.ipynb_checkpoints
*.egg-info
# Output and experiments 
output/*
experiments/*
notebooks/experiment_*
notebooks/output
# Python files 
__pycache__
